Source: gnome-blp-thumbnailer
Priority: optional
Maintainer: Jarl Gullberg <jarl.gullberg@gmail.com>
Build-Depends: debhelper (>= 9), 
	cli-common-dev (>= 0.8),
	libmono-cil-dev,
	mono-mcs (>= 3.0),
	mono-devel (>= 2.4.2.3),
	mono-xbuild
Standards-Version: 3.9.7
Section: misc
Homepage: https://github.com/Nihlus/gnome-blp-thumbnailer

Package: gnome-blp-thumbnailer
Section: misc
Architecture: any
Depends: ${cli:Depends}, 
	${misc:Depends},
	blizzard-mime-types (>= 1.0)
Description: Thumbnail generator for BLP image files.
 This program generates thumbnails for the GNOME desktop environment
 for binary BLP images.
